body {
    background-color: rgba(75, 97, 79, 0.719);
    color: white;
    font-size: 20px;
}

input {
    margin-top: 10px;
    height: 50px;
}

h1 {
    font-size: 60px;
    font-style: italic;
    color: rgb(51, 32, 48);
    margin-bottom: 30px;
}


#submitvalidation {
    width: 200px;
    padding: 10px;
    font-size: 20px;
}